<!DOCTYPE html>
<html lang="en" dir="ltr">

{{ include("layouts/head.html.twig") }}

<body>
    <header class="theme-box header-main">
        <a href="{{ path("home") }}" class="header-item">
            POLL
        </a>

        <form method="GET" action="{{ path("search_posts") }}" style="display:inline">
            <input class="main-input header-input" name="search" placeholder="search..." required>
        </form>

        <div class="float-right">
            {% if app.user %}
                <a class="header-item" href="{{ path("post_make") }}"> Post </a>
            {% else %}
                <a class="header-item" href="{{ path("login") }}"> Login </a>
            {% endif %}

            <div class="dropdown" tabindex="0">
                <div class="dropdown-btn header-item">•••</div>

                <ul class="dropdown-cont position-right">
                    <a href="{{ path("settings") }}"> <li class="dropdown-item"> Settings </li> </a>
                    <li class="dropdown-item"> About </li>
                    {% if app.user %}
                        <a href="{{ path("logout") }}"> <li class="dropdown-item"> Logout </li> </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
